{% from "graph-ssr.njk" import shell, noscriptFallback %}
<div class="architecture-graph mt-8" data-architecture-graph>
  {{ noscriptFallback(architectureGraph.views, { legendOrdered: false }) }}
  <div data-graph-mount>
    {{ shell(architectureGraph.views, {
      pickerLegend: "Stack",
      pickerName: "architecture-stack-ssr",
      loadingLabel: "Loading architecture diagram…",
      legendTitle: "Connections in this view",
      legendOrdered: false
    }) }}
  </div>
</div>
