{% from "graph-ssr.njk" import shell, noscriptFallback %}
<div class="architecture-graph mt-8" data-auth-flow>
  {{ noscriptFallback(authFlow.views, { legendOrdered: true }) }}
  <div data-graph-mount>
    {{ shell(authFlow.views, {
      pickerLegend: "Flow",
      pickerName: "auth-flow-ssr",
      loadingLabel: "Loading authentication diagram…",
      legendTitle: "Exchange in this view",
      legendOrdered: true
    }) }}
  </div>
</div>
