<div class="relative {{ playgroundIconSize or 'size-14' }} shrink-0 overflow-hidden rounded-[22%] bg-white shadow-md ring-1 ring-black/10 dark:ring-white/20">
  <img
    src="/img/brand-assets/shellui_transparent_logo.svg"
    alt=""
    class="size-full max-h-full max-w-full object-contain p-0.5"
    width="56"
    height="56"
  />
  <span class="app-icon-gloss" aria-hidden="true"></span>
  <span class="app-icon-shine" aria-hidden="true"></span>
</div>

