<div class="su-layout-band-rule su-layout-band-rule--bottom" aria-hidden="true">
  <div class="su-layout-band-rule__inset{% if wireframeBandWidth %} su-layout-band-rule__inset--{{ wireframeBandWidth }}{% endif %}"></div>
</div>
