---
permalink: /product/brand-assets/
eleventyExcludeFromCollections: true
sitemap: false
layout: false
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Redirecting to Brand assets</title>
    <link rel="canonical" href="{{ site.url }}/brand-assets/" />
    <meta http-equiv="refresh" content="0; url=/brand-assets/" />
    <script>location.replace("/brand-assets/");</script>
  </head>
  <body>
    <p><a href="/brand-assets/">This page has moved to Brand assets.</a></p>
  </body>
</html>
